<div class="container containerPage">

    <h3>We are a design and development studio, based out of Bangalore, Chennai and San Francisco</h3>

    <h3 class="well">We work on complete product development, Android app development and ux consulting. </h3>

    <!-- Example row of columns -->
    <div style="padding-top: 100px;" class="row">
        <div class="span4">
            <h2>People</h2>
            <p>
                Our org structure is very simple, there is none.
                We all contribute, with best of our abilities whenever required.
                Each project has a owner, with a final say and that is secret of our productivity.

                There are no meetings or, corporate retreats or team-building exercises.


             </p>

        </div>
        <div class="span4">
            <h2>Technology</h2>
            <p> We dabble into a bunch of technologies and with our strong base in the core concepts. We are from the 'c' language era, so things just look simpler today.
                Here are few things we are good at: Single page applications, Web Portals, Web Applications, Filesystems, Device drivers, Wordpress Themes and Plugins, Drupal theme and plugins, Scaling applications, database optimizations, build systems and much more.

            </p>
        </div>
        <div class="span4">
            <h2>Design</h2>
            <p>
                Our definition of design goes beyond aesthetic qualities and into areas of maintenance, cost, profitability, speed, and purpose. We believe good interface is just <strong>common sense</strong>.
            </p>
        </div>
    </div>

    <hr>
</div>
