<div class="container containerPage">
    <div class="span4">
        <h3>3 Ways to get in touch</h3>

        <div class="touch_choice">
            <span class="number muted">1.</span>
            Fill the form and we'll get back to you within 24 hours.
        </div>
        <div class="touch_choice">
            <span class="number muted">2.</span>
            Drop an email @ <a href="mailto:team@aahho.com?subject=Hello from the interweb!">team@aahho.com</a>

        </div>
        <div class="touch_choice">
            <span class="number muted">3.</span>
            You can call us on  <a href="tel:99866  42009">+91 99866 42009</a> from 10 A.M to 7 P.M IST.
        </div>

        </a>
    </div>
    <div id="form_contact" class="span7">
        <div id="wufoo-z7x3p3">
            Fill out my <a href="http://aahho.wufoo.com/forms/z7x3p3">online form</a>.
        </div>
        <script type="text/javascript">var z7x3p3;
        (function (d, t) {
            var s = d.createElement(t), options = {
                'userName': 'aahho',
                'formHash': 'z7x3p3',
                'autoResize': true,
                'height': '577',
                'async': true,
                'header': 'show'};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function () {
                var rs = this.readyState;
                if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try {
                    z7x3p3 = new WufooForm();
                    z7x3p3.initialize(options);
                    z7x3p3.display();
                } catch (e) {
                }
            };
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
            par.insertBefore(s, scr);
        })(document, 'script');</script>
    </div>


    <!-- ... -->
</div>
</div>
