<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

        <div class="item active">
            <img src="img/aahho_banner_open.png" alt="">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Namaste, from aahho</h1>

                    <p class="lead">
                        aahho means pleasant surprise in Sanskrit.
                        We build products to delight and engage you.
                        We believe in community over competitiveness, right over easy, scotch over water, and batman over superman.
                        We are developers, designers &amp; <strong>we aahho</strong> <span class="mute">(see what we did :) )</span>.

                </div>
            </div>
        </div>



        <div class="item">
            <img src="img/aahho_banner_ux.png" alt="">

            <div class="container">
                <div class="carousel-caption">
                    <h1>User Experience</h1>

                    <p class="lead">We approach every interface as users first and designers second. We don't want to
                        confuse users with overly complex interfaces and we don't want to create anything that we
                        wouldn't want to use ourselves.</p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/aahho_banner_mobile.png" alt="">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Android Apps.</h1>

                    <p class="lead">Our team create apps that are not only well designed, but also utilize Android
                        built-in framework as deeply as possible. Our expertise includes everything from audio and video
                        manipulation to location and mapping services.</p>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="img/aahho_banner_web.png" alt="">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Web/Desktop Apps.</h1>

                    <p class="lead">We expertise in a wide range of software technologies to deliver innovative web,
                        desktop, mobile and embedded applications & experiences.</p>

                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div class="container">
<div class="row">
    <div class="span12 well">
       <!-- <h3> Open for select client projects. <del><a href="#">Get in touch</a></del> <br> -->
       <h3>We are no longer taking any projets. <del><a href="#">Get in touch</a></del> <br>
           <p class="muted">
               Android &middot; Responsive Web &middot; Product Development &middot; Product Design &middot; UX &middot; Branding Visual Design &middot;
           </p>

       </h3>
    </div>
</div>
</div>


<div class="container">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image pull-right" src="img/hp/app.png">

        <h2 class="featurette-heading">Android App Development. <br> <span class="muted">There an app for that!</span></h2>

        <p class="lead">Our team create apps that are not only well designed, but also utilize Android built-in framework as deeply as possible. Our expertise includes everything from audio and video manipulation to location and mapping services.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image pull-left" src="img/hp/web.png">

        <h2 class="featurette-heading">Product Development <br> <span class="muted">Zero to Beta </span></h2>

        <p class="lead">We expertise in a wide range of software technologies to deliver innovative web, desktop, mobile and embedded applications & experiences.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image pull-right" src="img/hp/ux.png">

        <h2 class="featurette-heading">User Experience <br> <span class="muted">Common Sense.</span></h2>

        <p class="lead">We approach every interface as users first and designers second. We don't want to confuse users with overly complex interfaces and we don't want to create anything that we wouldn't want to use ourselves.
            .</p>
    </div>


    <hr class="featurette-divider">
    <div style="padding-top:30px;padding-bottom:30px;" class="featurette">

    </div>
</div>


<!-- /END THE FEATURETTES -->
</div><!-- /.container -->
