    <div class="container containerPage">
     <div class="span8">
<div id="work" class="carousel slide">
                  <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item"><img src="shots/inquy.png"></div>
                        <div class="item"><img src="shots/AnurakshanBCG.png"></div>
                        <div class="item"><img src="shots/iamstarting.png"></div>
                        <div class="item"><img src="shots/seagate.png"></div>
                        <div class="item"><img src="shots/MobilityNinja.png"></div>
                        <div class="item"><img src="shots/nevermissit.png"></div>
                        <div class="item"><img src="shots/mobile.png"></div>
                        <div class="item"><img src="shots/wwb.png"></div>

                      </div>
                  <!-- Carousel nav -->
                  <a class="carousel-control left" href="#work" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#work" data-slide="next">&rsaquo;</a>
            </div>
            </div>
            <div class="span3">
                Our clientele include various Indian startups, HP, BCG, Dell, Tata.
                <br><br><br><br>
                Like what you see? <a href="#/contact">Get in Touch</a>
            </div>
</div>
