<style>
    .imgprofile{
        width: 150px;
        
    }
</style>

<section class="row pt-3 ">
    <div class="col-sm-12">
        <div class="row row-eq-height">
            <div class="col-md-12">
                <div class="card m-3">
                    <!-- <div class="card-header">Technology</div> -->
                    <div class="card-block">
                        <h4 class="text-info"><i class="fa fa-server"></i> Technology</h4>
                        <p style="font-size: 15px;text-align: justify;">
                            We dabble into a bunch of technologies and with our strong base in the core concepts. We are from the 'c' language era, so things just look simpler today. Here are few things we are good at: Single page applications, Web Portals, Web Applications, Filesystems, Device drivers, Wordpress Themes and Plugins, Drupal theme and plugins, Scaling applications, database optimizations, build systems and much more.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card m-3">
                    <!-- <div class="card-header">People</div> -->
                    <div class="card-block" >
                        <h4 class="text-warning"><i class="fa fa-users"></i> People</h4>
                        <p style="font-size: 15px;text-align: justify;">
                            Our org structure is very simple, there is none. We all contribute, with best of our abilities whenever required. Each project has a owner, with a final say and that is secret of our productivity. There are no meetings or, corporate retreats or team-building exercises.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card m-3">
                    <!-- <div class="card-header">Design</div> -->
                    <div class="card-block">
                        <h4 class="text-success"><i class="fa fa-laptop"></i> Design</h4>
                        <p style="font-size: 15px;text-align: justify;">
                            Our definition of design goes beyond aesthetic qualities and into areas of maintenance, cost, profitability, speed, and purpose. We believe good interface is just common sense.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>