<div class="home-content">
	<div class="inner">
		<div class="a-content">
			<!-- <h1 class="mb-4">Namaste, from aahho</h1> -->
			<img src="img/aahhob.png" class="home-logo">
			<span class="a-head">Namaste, from aahho</span>
		</div>
		<div class="home-text-content">
			<p class="lead">&#34;aahho means pleasant surprise in Sanskrit.&#34;</p>
		
			<p class="a-desc">We build products to delight and engage you. We believe in community over competitiveness, right over easy, scotch over water, and batman over superman. We are developers, designers & we aahho (see what we did :) ).</p>
			
			<p class="lead">
				<a class="btn btn-primary btn-lg mt-2 a-bg-color" role="button" href="https://www.facebook.com/messages/t/weaahho">Ask for a quote</a>
			</p> 
		</div>
	</div>
</div>