


<div class="" style="display: flex;height: 101vh;margin-left: -5%;margin-right: -15px;">
	<div style="height: 100%;flex:2;background-color: rgba(110, 113, 222, 0.88)">
		<div style="width: 100%;padding: 3% 0px 0px 8%;">
			<!-- <h1 class="mb-4">Namaste, from aahho</h1> -->
			<img src="img/aahho-logo-new.png" style="margin-top: -20px;">
			<span style="font-size:45px;color: white">Namaste, from aahho</span>
		</div>
		<div style="width: 100%;padding: 3% 6% 0px 9%;" >
			<p class="lead" style="color: white;font-size: 18px;font-family: 'Julius Sans One', sans-serif;font-weight: bold;">&#34;aahho means pleasant surprise in Sanskrit.&#34;</p>
		
			<p style="color: white;font-size: 25px;margin-top: 4%;">We build products to delight and engage you. We believe in community over competitiveness, right over easy, scotch over water, and batman over superman. We are developers, designers & we aahho (see what we did :) ).</p>
			
			<p class="lead"><a class="btn btn-primary btn-lg mt-2" role="button" style="background-color: #6365d2 !important;border-color: #6365d2 !important;" href="https://www.facebook.com/messages/t/weaahho">Ask for a quote</a></p> 

		</div>
		
		
	</div>
	<!-- <div style="flex: 1;background-color: #979ae7;background: url('img/aahho-background.png'); ">
	
	 
		
	</div> -->
	
</div>