<!-- <div style="display: flex;justify-content: space-between;" class="pt-3 ">
	<div style="display: flex;width: 480px;height: 250px;" >
		<div style="flex: 1;background-color: ;">
			<img src="img/if_duck_385746.png" style="width: 240px;height: 250px;">
		</div>
		<div style="flex: 1;background-color: ;padding:10px 0px 0px 15px; ">
			this is description or something else
		</div>
	</div>
	
	<div style="display: flex;width: 480px;height: 250px;" >
		<div style="flex: 1;background-color:;">
			<img src="img/if_Noodle_1204079 (8).png" style="width: 240px;height: 250px;">
		</div>
		<div style="flex: 1;background-color: ;padding:10px 0px 0px 15px; ">
			this is description or something else
		</div>
	</div>
	<div style="display: flex;width: 480px;height: 250px;" >
		<div style="flex: 1;background-color:;">
			<img src="img/if_message-2_411113.png" style="width: 240px;height: 250px;">
		</div>
		<div style="flex: 1;background-color: ;padding:10px 0px 0px 15px; ">
			this is description or something else
		</div>
	</div>
	
</div> -->



  <style>
       .imgprofile{
           width: 150px;
           
       }
   </style>
   
   <section class="row pt-3 ">
        <div class="col-sm-12">
            <div class="row row-eq-height">

            <div class="col-md-4">
                    <div class="card card-inverse card-warning maxheight m-3">
                            <div class="card-header">Duck duck Tech</div>
                            <div class="card-block">
                            	<a href="http://duckducktech.com/" target="_blank">
	                            	<img src="img/if_duck_385746.png" style="width: 50%; margin-left: 23%;">
    							</a>
    							<br><br>
                            <p style="font-size: 16px;text-align: justify;">
                            	The top news and commentary for technology's leaders. Built by bots for the geek overlord.
                            </p>
                            </div>
                            </div>
            </div>

            <div class="col-md-4">
                    <div class="card card-inverse card-info maxheight m-3">
                            <div class="card-header">NoodleStock</div>
                            
                            <div class="card-block" >
                            <a href="http://noodlestock.com/" target="_blank">	
                            	<img src="img/if_Noodle_1204079.png" style="width: 50%; margin-left: 23%;">
                            </a>
                            <br><br>
                            <p style="font-size: 16px;text-align: justify;">
                            	NoodleStock provides the latest stock market, financial and business news. Learn from other stock traders and get new ideas. 
                            </p>
                            </div>
                            </div>
            </div>

            <div style="opacity: 0.6" class="col-md-4">
                    <div class="card card-inverse card-success maxheight m-3">
                            <div class="card-header">Annon Chat</div>
                            
                            <div class="card-block">
                            	<img src="img/if_message-2_411113.png" style="width: 50%; margin-left: 23%;">
                            <br><br>
                            <p style="font-size: 16px;text-align: justify;">
                                   Talk To Strangers in Free Random Chat Rooms With Strangers. Join our anonymous chat room online to talk about whatever is on your mind.
                            </p>
                            </div>
                            </div>
            </div>






                
                

            </div>
        </div>
    </section>