<section>
        <div class="col-md-12 pt-3 ">
                <p class="lead">
                        
                        
                        We are a team of experienced software architects, user experience designers and engineers. We can help you with
                <hr>
                </p>
                </div>
</section>
<section class="row">

        <div class="col-md-7">



                <div class="card-block">
                        <h3 class="card-title">We can work </h3>


                        <h6 class="card-subtitle mb-2 text-muted">with you on</h6>

                        <ul class="timeline">
                                <li>
                                        <div class="timeline-badge">
                                                <em class="fa fa-desktop"></em>
                                        </div>

                                        <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                        <h5 class="timeline-title mt-2">Applications</h5>
                                                </div>

                                                <div class="timeline-body">
                                                        <p>Web and desktop based applications.</p>
                                                </div>
                                        </div>
                                </li>
                                <li>
                                        <div class="timeline-badge">
                                                <em class="fa fa-rocket"></em>
                                        </div>

                                        <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                        <h5 class="timeline-title mt-2">Interfaces</h5>
                                                </div>

                                                <div class="timeline-body">
                                                        <p>API/SDK Architecture and Implementation</p>
                                                </div>
                                        </div>
                                </li>
                                <li>
                                        <div class="timeline-badge">
                                                <em class="fa fa-mobile"></em>
                                        </div>

                                        <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                        <h5 class="timeline-title mt-2">Mobile </h5>
                                                </div>

                                                <div class="timeline-body">
                                                        <p>Mobile Application Development Hybrid, Android and iOS</p>
                                                </div>
                                        </div>
                                </li>
                                <li>
                                        <div class="timeline-badge">
                                                <em class="fa fa-bug"></em>
                                        </div>

                                        <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                        <h5 class="timeline-title mt-2">Maintain</h5>
                                                </div>

                                                <div class="timeline-body">
                                                        <p>Rewriting/Manage legacy software</p>
                                                </div>
                                        </div>
                                </li>
                                <li>
                                        <div class="timeline-badge">
                                                <em class="fa fa-server"></em>
                                        </div>

                                        <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                        <h5 class="timeline-title mt-2">DevOps</h5>
                                                </div>

                                                <div class="timeline-body">
                                                        <p>Devops architecture, automation and management</p>
                                                </div>
                                        </div>
                                </li>
                                <li>
                                        <div class="timeline-badge">
                                                <em class="fa fa-user-circle-o"></em>
                                        </div>

                                        <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                        <h5 class="timeline-title mt-2">UX Design</h5>
                                                </div>

                                                <div class="timeline-body">
                                                        <p>Better user experience and designs.</p>
                                                </div>
                                        </div>
                                </li>
                        </ul>
                </div>




               
        </div>

        <div class="col-md-5">
               


<style>
                .cbp-ig-icon {padding: 10px;font-size: 40px;}
</style>



                <div>
                                <i class="cbp-ig-icon colored devicon-amazonwebservices-original"></i>
                                <i class="cbp-ig-icon colored devicon-android-plain"></i>
                                <i class="cbp-ig-icon colored devicon-angularjs-plain"></i>
                                <i class="cbp-ig-icon colored devicon-apache-plain"></i>
                                <i class="cbp-ig-icon colored devicon-appcelerator-original"></i>
                                
                                <i class="cbp-ig-icon colored devicon-atom-original"></i>
                                
                                <i class="cbp-ig-icon colored devicon-backbonejs-plain"></i>
                                <i class="cbp-ig-icon colored devicon-bitbucket-plain"></i>
                                <i class="cbp-ig-icon colored devicon-bootstrap-plain"></i>
                                <i class="cbp-ig-icon colored devicon-bower-plain"></i>
                                <i class="cbp-ig-icon colored devicon-c-plain"></i>
                                <i class="cbp-ig-icon colored devicon-chrome-plain"></i>
                                <i class="cbp-ig-icon colored devicon-codeigniter-plain"></i>
                                
                                
                                <i class="cbp-ig-icon colored devicon-cplusplus-plain"></i>
                                <i class="cbp-ig-icon colored devicon-csharp-plain"></i>
                                <i class="cbp-ig-icon colored devicon-css3-plain"></i>
                                <i class="cbp-ig-icon colored devicon-cucumber-plain"></i>
                                <i class="cbp-ig-icon colored devicon-d3js-plain"></i>
                                <i class="cbp-ig-icon colored devicon-debian-plain"></i>
                                <i class="cbp-ig-icon colored devicon-devicon-plain"></i>
                                <i class="cbp-ig-icon colored devicon-django-plain"></i>
                                <i class="cbp-ig-icon colored devicon-docker-plain"></i>
                                
                                <i class="cbp-ig-icon colored devicon-dot-net-plain"></i>
                                <i class="cbp-ig-icon colored devicon-drupal-plain"></i>
                                
                                <i class="cbp-ig-icon colored devicon-express-original"></i>
                                <i class="cbp-ig-icon colored devicon-facebook-plain"></i>
                                
                                

                                <i class="cbp-ig-icon colored devicon-gimp-plain"></i>
                                <i class="cbp-ig-icon colored devicon-git-plain"></i>
                                <i class="cbp-ig-icon colored devicon-github-plain"></i>
                                <i class="cbp-ig-icon colored devicon-gitlab-plain"></i>

                                <i class="cbp-ig-icon colored devicon-google-plain"></i>

                                <i class="cbp-ig-icon colored devicon-grunt-plain"></i>
                                <i class="cbp-ig-icon colored devicon-gulp-plain"></i>
                                <i class="cbp-ig-icon colored devicon-heroku-original"></i>
                                <i class="cbp-ig-icon colored devicon-html5-plain"></i>
                                
                                
                                
                                <i class="cbp-ig-icon colored devicon-java-plain"></i>

                                <i class="cbp-ig-icon colored devicon-javascript-plain"></i>

                                <i class="cbp-ig-icon colored devicon-jetbrains-plain"></i>
                                <i class="cbp-ig-icon colored devicon-jquery-plain"></i>

                                <i class="cbp-ig-icon colored devicon-laravel-plain"></i>
                                <i class="cbp-ig-icon colored devicon-less-plain-wordmark"></i>
                                <i class="cbp-ig-icon colored devicon-linux-plain"></i>
                                <i class="cbp-ig-icon colored devicon-meteor-plain"></i>
                                <i class="cbp-ig-icon colored devicon-mocha-plain"></i>
                                <i class="cbp-ig-icon colored devicon-mongodb-plain"></i>

                                <i class="cbp-ig-icon colored devicon-mysql-plain"></i>
                                <i class="cbp-ig-icon colored devicon-nginx-original"></i>
                                <i class="cbp-ig-icon colored devicon-nodejs-plain"></i>
                                <i class="cbp-ig-icon colored devicon-nodewebkit-plain"></i>
                                <i class="cbp-ig-icon colored devicon-oracle-original"></i>
                                <i class="cbp-ig-icon colored devicon-photoshop-plain"></i>
                                <i class="cbp-ig-icon colored devicon-php-plain"></i>
                                <i class="cbp-ig-icon colored devicon-phpstorm-plain"></i>
                                <i class="cbp-ig-icon colored devicon-protractor-plain"></i>
                                <i class="cbp-ig-icon colored devicon-postgresql-plain"></i>
                                <i class="cbp-ig-icon colored devicon-python-plain"></i>
                                <i class="cbp-ig-icon colored devicon-pycharm-plain"></i>
                                <i class="cbp-ig-icon colored devicon-rails-plain"></i>
                                <i class="cbp-ig-icon colored devicon-react-original"></i>
                                <i class="cbp-ig-icon colored devicon-redhat-plain"></i>
                                <i class="cbp-ig-icon colored devicon-redis-plain"></i>
                                <i class="cbp-ig-icon colored devicon-ruby-plain"></i>
                                <i class="cbp-ig-icon colored devicon-rubymine-plain"></i>
                                <i class="cbp-ig-icon colored devicon-safari-plain"></i>
                                <i class="cbp-ig-icon colored devicon-sass-original"></i>

                                <i class="cbp-ig-icon colored devicon-slack-plain"></i>
                                <i class="cbp-ig-icon colored devicon-sourcetree-plain"></i>
                                <i class="cbp-ig-icon colored devicon-ssh-plain"></i>
                                <i class="cbp-ig-icon colored devicon-swift-plain"></i>
                                <i class="cbp-ig-icon colored devicon-symfony-original"></i>
                                <i class="cbp-ig-icon colored devicon-tomcat-line"></i>
                                <i class="cbp-ig-icon colored devicon-travis-plain"></i>

                                <i class="cbp-ig-icon colored devicon-twitter-plain"></i>
                                <i class="cbp-ig-icon colored devicon-ubuntu-plain"></i>
                                <i class="cbp-ig-icon colored devicon-vim-plain"></i>
                                <i class="cbp-ig-icon colored devicon-visualstudio-plain"></i>
                                <i class="cbp-ig-icon colored devicon-vuejs-plain"></i>
                                <i class="cbp-ig-icon colored devicon-webpack-plain"></i>
                                <i class="cbp-ig-icon colored devicon-webstorm-plain"></i>
                                <i class="cbp-ig-icon colored devicon-wordpress-plain"></i>
                                <i class="cbp-ig-icon colored devicon-yii-plain"></i>
                                <i class="cbp-ig-icon colored devicon-zend-plain"></i>
                </div>




        </div>

</section>